<launch>
    <arg name="veh" doc="Name of vehicle. ex: megaman"/>
    <node ns="$(arg veh)" machine="$(arg veh)" pkg="mecanum_wheels_begin" type="wheels_driver_node_mecanum.py" name="wheels_driver_node_mecanum" output="screen" clear_params="true" required="true"/>
    
    <!-- Subscriptions -->
    <!-- "~wheels_cmd": duckietown_msgs/WheelsCmd. Command for the wheels -->

</launch>
